@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

header{
    background-color: rgb(0, 0, 0);
    padding: 30px;
}

h1{
   color: aliceblue;
   text-align: center;
}
h2 {
   color: aliceblue;
   text-align: center;
   margin-top: 10px;
}

nav > p > a {
    color: aliceblue;
}

body{
    background-color: rgb(246, 157, 174);
}

#dov{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

h3{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

.paragrafo{
    text-align: center;
}

.paragrafo2{
    text-align: center;
}

.portfolio{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}